* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;

}

body {
    font-family: sourcesanspro, Arial, Helvetica, sans-serif;
    color: #545A68;
}

.top {
    position: fixed;
    top: 0%;
    left: 0;
    z-index: 10;
    width: 100%;
    padding: 5px;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);

}
.top-big{
    display: none;
}

h4{
    margin-left: 20px;
}

.center {
    margin-top: 20px;
    padding: 20px;
}


#pwd{
    display: none;
}

.otp-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    box-sizing: border-box;
}

.otp-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.otp-input {
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    border: none;
    border-bottom: 1.5px solid rgba(128, 128, 128, 0.409);
    outline: none;
    transition: border-color 0.3s;

}

.otp-input:focus {
    border-color: #007bff;
}



/* switcher  */

/* From Uiverse.io by vinodjangid07 */
/* To hide the checkbox */
#checkboxInput {
    display: none;
}

.toggleSwitch {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50px;
    height: 25px;
    background-color: rgb(82, 82, 82);
    border-radius: 20px;
    cursor: pointer;
    transition-duration: .2s;
}

.toggleSwitch::after {
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    left: 5px;
    background-color: transparent;
    border-radius: 50%;
    transition-duration: .2s;
    box-shadow: 5px 2px 7px rgba(8, 8, 8, 0.26);
    border: 5px solid white;
}

#checkboxInput:checked+.toggleSwitch::after {
    transform: translateX(100%);
    transition-duration: .2s;
    background-color: white;
}

/* Switch background change */
#checkboxInput:checked+.toggleSwitch {
    background-color: rgb(21, 201, 51);
    transition-duration: .2s;
}


/* switcher  */


.button {
    background: #e9041e;
    border: 2px solid #e9041e;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 3.125rem;
    box-shadow: none;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    margin: 0 auto;
    padding: .75em 1rem;
    width: 90%;
    position: relative;
    text-align: center;
    text-decoration: none;

}

footer{
    padding: 20px;
    margin-top: 200px;
    background-color: #f7f7f7;
    margin: 0 auto;
}
footer li {
   
    unicode-bidi: isolate;
}
footer a{
    text-decoration: none !important;
    color: grey !important;
}


@media (min-width: 700px) {
    .top{
        display: none;
        box-shadow: none;
        padding: 15px;
        min-height: 70px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.372);
    }
    .top-big{
        padding: 10px;
        display: block;
    }
    .center {
       display: flex;
       align-items: center;
       justify-content: center;
    }
    .center form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 500px;
        padding: 30px;
        border: 1px solid rgba(128, 128, 128, 0.185);
    }
    h4{
        text-align: center;
    }
    .button{
        width: 250px;
    }
    footer{
        display: flex;
        margin-top: 300px;
    }
    footer a{
        text-decoration: none !important;
    }

}